.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.slideImg {
  display: block;
  border-radius: 10px;

  box-shadow: 0 4px 12px rgba(240, 141, 141, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 350px;
  width: 700px;
  object-fit: cover;
}

.slideImg:hover {
  box-shadow: 0 6px 18px rgba(240, 141, 141, 0.4);
  transform: scale(1.015);
}
.controls {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.nextBtn,
.prevBtn,
.slide {
  width: 140px;
  height: 45px;
  font-weight: 700;
  font-size: 20px;
  background-color: rgb(243, 141, 25);
  border: none;
  border-radius: 40px;
  cursor: pointer;
}
.nextBtn:hover,
.prevBtn:hover,
.slide:hover {
  box-shadow: 0 3px 8px rgba(240, 141, 141, 0.4);
}
